<div class="table-container">
    <button (click)="goBack()" class="back-btn">
    <i class="fas fa-arrow-left"></i>
  </button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button (click)="deleteUser(user.id)" class="delete-btn">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
