<app-navbar></app-navbar>
<div class="product-list">
  <button class="back-btn" (click)="goBack()"><i class="fas fa-arrow-left"></i></button>
  <h2>All Products</h2>
  <div class="products">
    <div *ngFor="let product of products" class="product-card">
      <a [routerLink]="['/product-details', product.id]">
        <img [src]="product.image" [alt]="product.name" />
        <h3>{{ product.name }}</h3>
      <p class="price">{{ product.price | currency:'PHP':'symbol':'1.2-2' }}</p>
      </a>
    </div>
  </div>
</div>
