<div class="login-wrapper">
    <div class="login-card">
<img src="assets/toolbox.png" alt="Toolbox" class="login-image" />

      <h2 class="welcome-text">Welcome Back</h2>
      <p class="description">
       Ready to gear up for your next project? Explore our tools and get everything you need in no time.
      </p>
  
      <form (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate>
  
        <div class="input-group">
          <i class="fa-solid fa-user input-icon"></i>
          <input
            type="text"
            name="identifier"
            [(ngModel)]="identifier"
            required
            placeholder="Username , Email"
            #identifierField="ngModel"
          />
        </div>
        <div *ngIf="identifierError" class="error-message">{{ identifierError }}</div>
  
        <div class="input-group">
          <i class="fa-solid fa-lock input-icon"></i>
          <input
            [type]="showPassword ? 'text' : 'password'"
            name="password"
            [(ngModel)]="password"
            required
            placeholder="Password"
            #passwordField="ngModel"
          />
          <i class="fa-solid fa-eye toggle-password" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()" style="cursor:pointer;"></i>
        </div>
        <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>
  
        <div class="link-row">
          <a class="signup" (click)="goToSignUp()">Sign Up</a>
          <a class="forgot-password" (click)="forgotPassword()">Forgot Password?</a>
        </div>
  
        <div *ngIf="loginError" class="error-message login-error">{{ loginError }}</div>
  
        <button type="submit" class="login-btn">Login</button>
      </form>
    </div>
  </div>
